
<body>
        <div class="row">
          <nav class="navbar navbar-light" style="background-color: #36454F;width: 100%">
            <div class="container-fluid">
              <a class="navbar-brand" [routerLink]="['/song']" style="color:white;">Home</a>
              <a class="navbar-brand"  style="color:white;">Nhân viên</a>
              <a class="navbar-brand"  style="color:white;">Khách Hàng</a>
              <a class="navbar-brand"  style="color:white;">Dịch Vụ</a>
              <a class="navbar-brand"  style="color:white;">Cơ Sở Vật Chất</a>
            </div>
          </nav>
        </div>
</body>
