<br xmlns="http://www.w3.org/1999/html">
<br>
<div class="d-fex justify-content-center">
  <form [formGroup]="formEditGroup" (ngSubmit)="updateFacility()">
    <input type="hidden" name="validate" value="add">
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Loại Dịch Vụ</label>
      <div class="col-sm-10">
        <select  class="form-control" formControlName="facilityType" >
          <option [value]="null"  [selected]="true" [disabled]="true" >Chọn Loại Dịch Vụ</option>
          <option *ngFor="let x of facilityTypeList" class="form-control" [ngValue]="x"  >{{x.name}}</option>
        </select>
        <p class="errorForm" *ngIf="formEditGroup.controls.facilityType.hasError('required') && formEditGroup.controls.facilityType.touched">Vui lòng chọn loại dịch vụ</p>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Tên Dịch Vụ</label>
      <div class="col-sm-10">
        <input  type="text" class="form-control" formControlName="name">
        <p class="errorForm" *ngIf="formEditGroup.controls.name.hasError('required') && formEditGroup.controls.name.touched">Vui lòng nhập tên dịch vụ</p>

      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Diện Tích</label>
      <div class="col-sm-10">
        <input  type="number" class="form-control" formControlName="area">
        <p class="errorForm" *ngIf="formEditGroup.controls.area.hasError('required') && formEditGroup.controls.area.touched">Vui lòng nhập diện tích sử dụng</p>

      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Chi Phí Thuê</label>
      <div class="col-sm-10">
        <input   type="number" class="form-control" formControlName="cost">
        <p class="errorForm" *ngIf="formEditGroup.controls.cost.hasError('required') && formEditGroup.controls.cost.touched">Vui lòng nhập chi phí thuê</p>

      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Số Người Tối Đa</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="maxPeople">
        <p class="errorForm" *ngIf="formEditGroup.controls.maxPeople.hasError('required') && formEditGroup.controls.maxPeople.touched">Vui lòng nhập số người tối đa</p>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Kiểu Thuê</label>
      <div class="col-sm-10">
        <select  class="form-control" formControlName="rentType">
          <option [value]="null" [selected]="true" [disabled]="true" >Chọn Kiểu Thuê</option>
          <option *ngFor="let x of rentTypeList" class="form-control" [ngValue]="x" >{{x.name}}</option>
        </select>
        <p class="errorForm" *ngIf="formEditGroup.controls.rentType.hasError('required') && formEditGroup.controls.rentType.touched">Chọn kiểu thuê</p>
      </div>
    </div>
    <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Hình Ảnh</label>
      <div class="col-sm-10">
        <input  type="text" class="form-control" formControlName="image">
        <p class="urlImage" *ngIf="formEditGroup.controls.image.hasError('required') && formEditGroup.controls.image.touched">Hãy nhập link url để cho có hỉnh ảnh đẹp hơn :D</p>

      </div>
    </div>
    <div  class="mb-3 row" id="standardAdd">
      <label class="col-sm-2 col-form-label">Tiêu Chuẩn Phòng</label>
      <div class="col-sm-10">
        <input  type="text" class="form-control"  formControlName="standard">
        <p class="errorForm" *ngIf="formEditGroup.controls.standard.hasError('nullStandard') && formEditGroup.controls.standard.touched"></p>

      </div>
    </div>
    <div class="mb-3 row" id="descriptionAdd">
      <label class="col-sm-2 col-form-label">Mô Tả Khác</label>
      <div class="col-sm-10">
        <input  type="text" class="form-control" formControlName="description">
        <p class="errorForm" *ngIf="formEditGroup.controls.description.hasError('nullDescription') && formEditGroup.controls.description.touched"></p>

      </div>
    </div>
    <div class="mb-3 row" id="poolAreaAdd">
      <label class="col-sm-2 col-form-label">Diện Tích Hồ Bơi</label>
      <div class="col-sm-10">
        <input  type="number" class="form-control" formControlName="poolArea">
        <p class="errorForm" *ngIf="formEditGroup.controls.poolArea.hasError('nullPoolArea') && formEditGroup.controls.poolArea.touched"></p>

      </div>

    <div class="mb-3 row" id="numberOfFloorAdd">
      <label class="col-sm-2 col-form-label">Số Tầng</label>
      <div class="col-sm-10">
        <input  type="number" class="form-control" formControlName="floor">
        <p class="errorForm" *ngIf="formEditGroup.controls.floor.hasError('nullFloor') && formEditGroup.controls.floor.touched"></p>
      </div>
    </div>
    <div  class="mb-3 row " id="addFreeService">
      <label class="col-sm-2 col-form-label">Dịch Vụ Miễn Phí</label>
      <div class="col-sm-10">
        <input  type="text" class="form-control" formControlName="facilityFree">
        <p class="errorForm" *ngIf="formEditGroup.controls.facilityFree.hasError('nullFreeFacility') && formEditGroup.controls.facilityFree.touched">Hãy nhập dịch vụ miễn phí đi kèm cho Room</p>
      </div>
    </div>

    <button type="submit" [disabled]="formEditGroup.invalid" class="btn btn-primary" data-bs-dismiss="modal">Thêm  mới</button>

    </div>

</form>
</div>

