
<div class="bg-img">
  <br>
  <h1 style="text-align: center"> Danh Sách Hợp Đồng</h1>
  <br> <br> <br>
  <table class="table" style="backdrop-filter: blur(10px);color: black;font-weight: bold">
    <thead>
    <tr>
      <th>#</th>
      <th>Dịch Vụ</th>
      <th>Khách Hàng</th>
      <th>Ngày Bắt Đầu</th>
      <th>Ngày Kết Thúc</th>
      <th>Tiền Đặt Cọc</th>
      <th>Tổng Tiền</th>
      <th>Các Dịch Vụ Đi Kèm</th>
    </tr>
    </thead>
    <tbody id="my-body">
    <tr *ngFor="let cons of contracts;index as i">
      <th>{{i+1}}</th>
      <th>{{cons.facility.name}}</th>
      <th>{{cons.customer.name}}</th>
      <th>{{cons.startDay}}</th>
      <th>{{cons.endDay}}</th>
      <th>{{cons.cost}}</th>
      <th></th>
      <th>
        <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal" >+</button>&nbsp;&nbsp;
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewAttachFacility" onclick="showListAttachFacility(${data[i].id})">Danh Sách Dịch Vụ Đi Kèm</button>
      </th>
    </tr>

    </tbody>
  </table>
<div class="d-flex justify-content-center">
  <a class="btn btn-primary" id="pre">Previous</a>
  <button id="pagez" class="btn btn-light">1</button>
  <a class="btn btn-primary" id="nex">Next</a>

</div>

  <br>
  <br>
</div>
