<h1>Sửa sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="updateProduct()">
  <table class="table ">
    <tr>
      <td >Mã sản phẩm</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td >Tên sản phẩm</td>
      <td><input type="text" formControlName="name" ></td>
    </tr>
    <tr>
      <td >Giá sản phẩm</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td >Mô tả sản pẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
  </table>
  <button type="submit" class="btn btn-primary">sửa</button>
</form>
<p>{{productUpdate | json}}</p>
