<div class="row" style="height:75px">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid" style="position: relative">
      <a class="navbar-brand"
         href="#">Trang Chủ</a>

      <button class="btn btn-outline-light" style="position: absolute;left: 150px" data-bs-toggle="modal"
              data-bs-target="#addmodal">Thêm Hợp Đồng
      </button>
      <form  style="position:absolute ;top: 1px;right: 30px"
             class="d-flex">
        <input class="form-control me-2" type="search" name="name" placeholder="Tên Khách Hàng"
               aria-label="Search">
        <input class="form-control me-2" type="search" name="type" placeholder="Tên Loại Dịch Vụ"
               aria-label="Searcase_studych">
        <button class="btn btn-outline-light" type="submit">Tìm</button>
      </form>
    </div>
  </nav>
</div>

<!--Modal Create-->
<div class="modal" tabindex="-1" id="addmodal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Tạo Hợp Đồng <i class="fa-sharp fa-solid fa-user"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Bắt Đầu</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" >
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Ngày Kết Thúc</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" >
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tiền Gửi</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" >
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tổng Tiền</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" readonly id="tongTien">
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Khách Hàng</label>
            <div class="col-sm-10">
              <select class="form-control" >
                <option ></option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Nhân Viên</label>
            <div class="col-sm-10">
              <select class="form-control"  >
                <option ></option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Dịch Vụ</label>
            <div class="col-sm-10">
              <select class="form-control" >
                <option ></option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <button type="button" onclick="addContract()" class="btn btn-primary">Xác Nhận</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
