<!--Content-->
<div class="row" style="height:75px">
  <nav class="navbar navbar-light" >
    <div class="container-fluid" style="position: relative">
      <a class="navbar-brand"
         href="#">Trang Chủ</a>

      <button class="btn btn-bt success" style="position: absolute;left: 150px" data-bs-toggle="modal"
              data-bs-target="#addmodal">Thêm Khách Hàng
      </button>
<!--      <form  style="position:absolute ;top: 1px;right: 30px"-->
<!--             class="d-flex">-->
<!--        <input class="form-control me-2" type="search" name="name" placeholder="Tên Khách Hàng"-->
<!--               aria-label="Search">-->
<!--        <input class="form-control me-2" type="search" name="type" placeholder="Loại Khách Hàng"-->
<!--               aria-label="Searcase_studych">-->
<!--        <button class="btn btn-primary" type="submit">Tìm</button>-->
<!--      </form>-->
    </div>
  </nav>
</div>
<div class="bgimg" style="margin-bottom: -80px">
  <br> <br>
  <div class="row" ><h1 style="text-align: center">Danh Sách Khách Hàng</h1></div>
  <br>
  <br>
  <div id="checkTable">
    <table class="table" style="backdrop-filter: blur(10px);color: black;font-weight: bold">
      <thead>
      <tr>
        <th>#</th>
        <th>Họ Tên</th>
        <th>Ngày Sinh</th>
        <th>Giới Tính</th>
        <th>CMND</th>
        <th>Số Điện Thoại</th>
        <th>Email</th>
        <th>Địa Chỉ</th>
        <th>Loại Khách</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cus of customers;index as i">
        <td>{{i+1}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.dateOfBirth}}</td>
        <td *ngIf="cus.gender==true">Nam</td>
        <td *ngIf="cus.gender==false">Nữ</td>
        <td>{{cus.iCard}}</td>
        <td>{{cus.phoneNumber}}</td>
        <td>{{cus.email}}</td>
        <td>{{cus.address}}</td>
        <td>{{cus.customerType.name}}</td>
        <td>
          <button class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#editModal">
            <i class="fa-sharp fa-solid fa-pen-to-square"></i>Sửa</button>
        </td>
        <td>
          <button class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal"><i
            class="fa-sharp fa-solid fa-user-slash"></i>Xoá</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary" id="pre">Previous</a>
      <button id="pagez" class="btn btn-light">1</button>
      <a class="btn btn-primary" id="nex">Next</a>
    </div>


    <br>
    <br>
  </div>
</div>
<!--Xoá Khách Hàng-->
<!--<div class="modal" tabindex="-1" id="deleteModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Xác Nhận Xóa</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <form >-->
<!--        <div class="modal-body">-->
<!--          <p>Bạn có chắc chắn muốn xóa <b>-->
<!--            <span id="nameDelete"></span>-->
<!--          </b> ?</p>-->
<!--        </div>-->
<!--        <input type="hidden" name="id" id="idDelete">-->
<!--        <div class="modal-footer">-->
<!--          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>-->
<!--          <button type="submit" class="btn btn-primary">Xóa</button>-->
<!--        </div>-->
<!--      </form>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
