<h1 style="text-align: center">Danh Sách Học Sinh</h1>
<table class="table ">
  <thead>
  <tr>
    <th>No.</th>
    <th>Tên</th>
    <th>Điểm thi</th>
    <th>Vote</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let st of students;index as i" (click)="changeDetail(st)">
    <td scope="row">{{i+1}}</td>
    <td>{{st.name}}</td>
    <td>{{st.score}}</td>
    <td><app-vote [vote]=" st.vote"></app-vote></td>
  </tr>
  </tbody>
</table>
<app-create (onCreate)="saveStudent($event)"></app-create>
<app-detail [student]="studentDetail"></app-detail>
