<div class="row">
  <nav class="navbar navbar-light" style="background-color: teal">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['home']"  style="color:white;">Home</a>
      <a class="navbar-brand"  [routerLink]="['customer']" style="color:white;">Khách Hàng</a>
      <a class="navbar-brand" [routerLink]="['facility']" style="color:white;">Dịch Vụ</a>
      <a class="navbar-brand" [routerLink]="['contract']" style="color:white;">Hợp đồng</a>
    </div>

  </nav>
</div>
