<h1 style="text-align: center">Danh sách sản phẩm</h1>

<a routerLink="/product/create"><button type="button" class="btn btn-primary">Create</button></a>
<br>
<br>
<table  class="table table-striped">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Sửa</td>
    <td>Xoá</td>
  </tr>
  <tr *ngFor="let product of products; index as i" >
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><button routerLink="/product/update/{{product.id}}" class="btn btn-primary">Sửa</button></td>
    <td><button routerLink="/product/delete/{{product.id}}" class="btn btn-primary">Xoá</button></td>
    <td></td>
  </tr>
</table>
