
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<h1>Calculator</h1>
<table>
  <tr>
    <td colspan="2"><label>Số thứ nhất:</label></td>
    <td colspan="2"><input type="number" #num1 placeholder="Nhập số thứ nhất"></td>
  </tr>
  <tr>
    <td colspan="2"><label>Số thứ hai</label></td>
    <td colspan="2"><input type="number" #num2 placeholder="Nhập số thứ hai"></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary ml-5" type="submit"  (click)="addition(num1.value,num2.value)">+</button></td>
    <td><button class="btn btn-primary ml-5" type="submit"  (click)="subtraction(num1.value,num2.value)">-</button></td>
    <td><button class="btn btn-primary ml-5" type="submit"  (click)="multiplication(num1.value,num2.value)">*</button></td>
    <td><button class="btn btn-primary ml-5" type="submit"  (click)="division(num1.value,num2.value)">/</button></td>
  </tr>
  <tr>
    <td><label>Kết Quả</label></td>
    <td colspan="3"> {{result}}</td>
  </tr>
</table>





<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

