<div>

  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Singer</th>
      <th>Date</th>
      <th>Category</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of songs;index as i">
      <td scope="row">{{i+1}}</td>
      <td>{{song.name}}</td>
      <td>{{song.singer}}</td>
      <td>{{song.date}}</td>
      <td>{{song.category}}</td>
      <td><a>
        <button type="button" class="btn btn-primary">Edit</button></a></td>
    </tr>
    <td><a>
      <button type="button" class="btn btn-primary">Edit</button></a></td>
  </table>
</div>
